@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Open Sans';
}
body{
    background: linear-gradient( #202222,#393a3a );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    width: 500px;
    background-color: #1c1c2e;
    border: 3px solid #fff;
    color: #fff;
    padding: 7px;
}
h2{
    border-bottom: 1px solid #fff;
    text-align: center;
    padding-bottom: 5px;
}
#palabra{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.letra{
    height: 50px;
    width: 50px;
    border: 2px solid #02bfa4;
    text-align: center;
    margin: 4px;
    font-weight: 600;
    font-size: 30px;
}
.pintar{
    background-color: #02bfa4;;
}
.pintarError{
    background-color: red;
}
h3{
    margin: 4px 0;
    font-weight: normal;
    font-size: 16px;
    text-align: centera;
}
h3 span{
    font-style: italic;
}
button{
    display: block;
    width: fit-content;
    margin: auto;
    background-color: transparent;
    border: 2px solid #02bfa4;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
    transition: .5s;
}
button:hover{
    background-color: #02bfa4;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky
{
    background: #0d0d0d;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header .logo
{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo
{
    color: #0d0d0d;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
header.sticky ul li a
{
  color: #fff;
}
.heading
{
   width: 100%;
   text-align: center;
   margin-bottom: 30px;
   color: #111; 
}
.heading h2
{
    font-weight: 600;
    font-size: 30px;
}
.content
{
    display: flex;
    justify-content: space-between;
}
